<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img th:src="@{/IMG/logoHuntech.jpeg}" alt="logo" height="80"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item" th:if="${usuario.rol.nombre == 'ROLE_CLIENTE'}">
                    <a class="nav-link active" aria-current="page" th:href="@{/generar-ticket}">Generar Solicitud</a>
                </li>
                <li class="nav-item" th:if="${usuario.rol.nombre == 'ROLE_CLIENTE'}">
                    <a class="nav-link" th:href="@{/mis-tickets}">Mis Solicitudes</a>
                </li>
                <li class="nav-item" th:if="${usuario.rol.nombre == 'ROLE_ADMINISTRADOR'}">
                    <a class="nav-link" th:href="@{/tickets-administrador}">Tickets Generados</a>
                </li>
                <li class="nav-item" th:if="${usuario.rol.nombre == 'ROLE_ADMINISTRADOR'}">
                    <a class="nav-link" th:href="@{/mis-tickets}">Generar informes</a>
                </li>
                <li class="nav-item" th:if="${usuario.rol.nombre == 'ROLE_ADMINISTRADOR'}">
                    <a class="nav-link" th:href="@{/mi-empresa}">Mi Empresa</a>
                </li>
                <!--
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
                </li>
                -->
            </ul>
            <form th:action="@{/logout}" method="post" class="d-flex">
                <button type="submit" class="btn btn-outline-danger">
                    <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </button>
            </form>
        </div>
    </div>
</nav>