<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/base :: layout(~{::title}, ~{::content}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <th:block th:fragment="content">
        <h1>Asignar Ticket</h1>

        <div class="tickets-container" th:if="${tickets}">
            <div class="ticket-card" th:each="ticket : ${tickets}"
                th:if="${ticket.tecnico_id == null or ticket.tecnico_id == 0}">
                <div class="ticket-title" th:text="'Numero de solicitud : ' + ${ticket.id}">Ticket #</div>
                <div class="ticket-empresa" th:text="'Empresa : ' + ${ticket.usuario.empresa.nombreEmpresa}">Empresa
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Fecha y Hora solicitud:</span>
                    <span
                        th:text="${#temporals.format(ticket.fechaHoraSolicitudTicket, 'dd/MM/yyyy HH:mm')}">12/05/2025</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Estado:</span>
                    <span th:text="${ticket.estado.nombre}" th:class="'ticket-estado ' + (
        ${ticket.estado.nombre} == 'En Espera' ? 'estado-espera' :
        (${ticket.estado.nombre} == 'Rechazado' ? 'estado-rechazada' :
        (${ticket.estado.nombre} == 'Resuelto' ? 'estado-resuelto' : ''))
      )">
                        Estado
                    </span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Direccion:</span>
                    <span th:text="${ticket.prioridad.nombre}" th:class="'ticket-prioridad ' + (
                      ${ticket.prioridad.nombre} == 'Baja' ? 'prioridad-baja' :
                      (${ticket.prioridad.nombre} == 'Normal' ? 'prioridad-normal' :
                      (${ticket.prioridad.nombre} == 'Urgente' ? 'prioridad-urgente' : ''))
                    )">En Espera</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Prioridad:</span>
                    <span th:text="${ticket.prioridad.nombre}">En Espera</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Descripcion:</span>
                    <span th:text="${ticket.descripcion}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Cliente:</span>
                    <span th:text="${ticket.usuario.nombre} +' '+${ticket.usuario.apellido}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Categoria de solicitud :</span>
                    <span th:text="${ticket.categoria.nombre}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Dispositivo:</span>
                    <span th:text="${ticket.dispositivo.nombre}">Laptop</span>
                </div>
                <form method="post" th:action="@{/asignar-tecnico}">
                    <input type="hidden" name="ticketId" th:value="${ticket.id}">
                    <div class="mb-3">
                        <label for="tecnico" class="form-label">Tecnico:</label>
                        <select name="tecnicoId" class="form-select" id="tecnico" required>
                            <option value="" disabled selected>Seleccione un tecnico</option>
                            <option th:each="tec : ${tecnicos}" th:value="${tec.id}"
                                th:text="${tec.nombre}+' '+${tec.apellido}">
                            </option>
                        </select>
                    </div>
                    <button type="submit">Asignar al tecnico</button>
                </form>
            </div>
        </div>
        <div th:fragment="script">
            <link href="/css/ticketAdministrador.css" rel="stylesheet" th:href="@{/css/ticketAdministrador.css}">
        </div>
    </th:block>
</body>

</html>