<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/base :: layout(~{::title}, ~{::content}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Tipo Incidencias</title>
</head>

<body>
    <th:block th:fragment="content">
        <h1>Gestion Tipo Incidencias</h1>
        <h3>Categoria Solicitud:</h3>
        <div class="card-body p-4">
            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre Tipo Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <td th:text="${categoria.id}">1</td>
                            <td th:text="${categoria.nombre}">Juan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contendor-registrar-dispositivo">
            <h3>Añadir Dispositivos:</h3>
            <div class="card-body p-4">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre Dispositivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="d : ${dispositivos}">
                                <td th:text="${d.id}">1</td>
                                <td th:text="${d.nombre}">Juan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form th:action="@{/guardar-dispositivo}" method="post" th:object="${dispositivo}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Dispositivo</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"
                        placeholder="Ingresa nombre dispositivo" th:field="*{nombre}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </th:block>
</body>

</html>