<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/base :: layout(~{::title}, ~{::content}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Tickets</title>
    <link href="../static/css/EstiloMisTickets.css" rel="stylesheet" th:href="@{/css/EstiloMisTickets.css}">
</head>

<body>
    <div th:fragment="content">
        <h1>Mis Tickets</h1>
        <div class="tickets-container" th:if="${tickets}">
            <div class="ticket-card" th:each="ticket : ${tickets}">
                <div class="ticket-title" th:text="'Numero de solicitud : ' + ${ticket.id}">Ticket #</div>
                <div class="ticket-empresa" th:text="'Empresa : ' + ${ticket.usuario.empresa.nombreEmpresa}">Empresa
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Fecha y Hora solicitud:</span>
                    <span
                        th:text="${#temporals.format(ticket.fechaHoraSolicitudTicket, 'dd/MM/yyyy HH:mm')}">12/05/2025</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Estado:</span>
                    <span th:text="${ticket.estado.nombre}">En Espera</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Direccion:</span>
                    <span th:text="${ticket.direccion}">En Espera</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Prioridad:</span>
                    <span th:text="${ticket.prioridad.nombre}">En Espera</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Descripcion:</span>
                    <span th:text="${ticket.descripcion}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Cliente:</span>
                    <span th:text="${ticket.usuario.nombre}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Categoria de solicitud :</span>
                    <span th:text="${ticket.categoria.nombre}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Dispositivo:</span>
                    <span th:text="${ticket.dispositivo.nombre}">Laptop</span>
                </div>
                <div th:if="${ticket.estado.nombre == 'En Espera'}">
                    <div class="botones">
                        <a th:href="@{/editar-ticket/{id}(id=${ticket.id})}" class="btn btn-primary">Editar</a>
                        <form th:action="@{/eliminar-ticket/{id}(id=${ticket.id})}" method="post"
                            style="display: inline;">
                            <button type="submit" class="btn btn-danger"
                                onclick="return confirm('¿Estás seguro de que quieres eliminar este ticket?')">Eliminar</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:fragment="script">
        <link href="/css/EstiloMisTickets.css" rel="stylesheet" th:href="@{/css/EstiloMisTickets.css}">
    </div>
</body>

</html>