<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/base :: layout(~{::title}, ~{::content}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets Generados</title>
</head>

<body>
    <th:block th:fragment="content">
        <h1>Tickets Generados</h1>
        <div style="margin-bottom: 20px;">
            <a class="btn btn-primary" th:href="@{/tickets-administrador(orden='prioridad')} "
                style="width: 3rem;">Ordenar por Prioridad</a>
        </div>

        <div class="tickets-container" th:if="${tickets}">
            <div class="ticket-card" th:each="ticket : ${tickets}">
                <div class="ticket-title" th:text="'Numero de solicitud : ' + ${ticket.id}">Ticket #</div>
                <div class="ticket-empresa" th:text="'Empresa : ' + ${ticket.usuario.empresa.nombreEmpresa}">Empresa
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Fecha y Hora solicitud:</span>
                    <span
                        th:text="${#temporals.format(ticket.fechaHoraSolicitudTicket, 'dd/MM/yyyy HH:mm')}">12/05/2025</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Estado:</span>
                    <span th:text="${ticket.estado.nombre}" th:class="'ticket-estado ' + 
        (${ticket.estado.nombre} == 'En Espera' ? 'estado-espera' : 
        (${ticket.estado.nombre} == 'Resuelto' ? 'estado-resuelto' : 
        (${ticket.estado.nombre} == 'Rechazado' ? 'estado-rechazada' :
        (${ticket.estado.nombre} == 'En Analisis' ? 'estado-analisis' : ''))))">
                        En Espera
                    </span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Direccion:</span>
                    <span th:text="${ticket.direccion}">En Espera</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Prioridad:</span>
                    <span th:text="${ticket.prioridad.nombre}" th:class="'ticket-prioridad ' +
                (${ticket.prioridad.nombre} == 'Baja' ? 'prioridad-baja' :
                (${ticket.prioridad.nombre} == 'Normal' ? 'prioridad-normal' :
                (${ticket.prioridad.nombre} == 'Urgente' ? 'prioridad-urgente' : '')))">
                        Prioridad
                    </span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Descripcion:</span>
                    <span th:text="${ticket.descripcion}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Cliente:</span>
                    <span th:text="${ticket.usuario.nombre} +' '+${ticket.usuario.apellido}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Categoria de solicitud :</span>
                    <span th:text="${ticket.categoria.nombre}">Pantalla rota</span>
                </div>
                <div class="ticket-detail">
                    <span class="ticket-label">Dispositivo:</span>
                    <span th:text="${ticket.dispositivo.nombre}">Laptop</span>
                </div>
                <div class="botones">
                    <!-- Para tickets en espera -->
                    <div th:if="${ticket.estado.nombre}=='En Espera'" class="botones-container">
                        <div class="acciones-section">
                            <a th:href="@{/rechazar-ticket/{id}(id=${ticket.id})}" class="btn btn-danger"
                                onclick="return confirmarAccion('¿Estás seguro de que deseas rechazar este ticket?');">Rechazar</a>
                            <a th:href="@{/resolver-ticket/{id}(id=${ticket.id})}" class="btn btn-primary"
                                onclick="return confirmarAccion('¿Marcar este ticket como resuelto?');">Resolver</a>
                            <a th:href="@{/analizar-ticket/{id}(id=${ticket.id})}" class="btn btn-warning"
                                onclick="return confirmarAccion('¿Marcar este ticket como En Análisis?');">En
                                Análisis</a>
                        </div>
                    </div>

                    <!-- Para tickets en análisis -->
                    <div th:if="${ticket.estado.nombre}=='En Analisis'" class="botones-container">
                        <div class="acciones-section">
                            <a th:href="@{/resolver-ticket/{id}(id=${ticket.id})}" class="btn btn-primary"
                                onclick="return confirmarAccion('¿Marcar este ticket como resuelto?');">Resolver</a>
                        </div>
                    </div>

                    <!-- Para tickets resueltos o en análisis (botón de informe) -->
                    <div th:if="${ticket.estado.nombre=='Resuelto' or ticket.estado.nombre=='En Analisis'}">
                        <a th:unless="${informeService.tieneInforme(ticket.id)}"
                            th:href="@{/generar-informe/{id}(id=${ticket.id})}" class="btn btn-primary">
                            Generar solución de incidencias
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="script">
            <link href="/css/ticketAdministrador.css" rel="stylesheet" th:href="@{/css/ticketAdministrador.css}">
        </div>
    </th:block>
    <script>
        function mostrarBotonGuardar(ticketId) {
            const boton = document.getElementById("btnGuardar-" + ticketId);
            if (boton) {
                boton.style.display = "inline-block";
            }
        }

        function confirmarAccion(mensaje) {
            return confirm(mensaje);
        }
    </script>
</body>

</html>